@using Taskker.Models
@using Taskker.Models.DAL

@model Grupo

@{
    var session = Session["UserSession"] as UserSession;
    var email = session.Email;
    var picture = session.EncodedPicture;
    var nombre = session.NombreApellido;
    var gruposNombres = (List<string>)Session["Grupos"];
}

@section scripts{
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/download_report.js")
}

<style>
    tr {
        background-color: rgba(0, 0, 0, 0.45);
        border-radius: 5px;
    }

    .theme-colour {
        background-color: #d96d6d !important;
    }
</style>

<script>

    // Inicializamos el modal
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('#details');
        M.Modal.init(
            elems,
            {
                preventScrolling: true
            }
        );

        var elems2 = document.querySelectorAll('#control-panel');
        M.Modal.init(
            elems2,
            {
                preventScrolling: true
            }
        );
    });

</script>

<script>
    $(document).ready(function () {

        $('#details').modal({
            onOpenStart: function (modal, trigger) {
                console.log('Se abre el modal details')

                $.ajax({
                    url: "/Browse/TaskDetails",
                    type: 'GET',
                    data: { titulo: trigger.children[0].textContent },
                    success: function (data) {
                        $("#details").html(data);
                    }
                });
            },

            onCloseStart: function (modal, trigger) {
                console.log('Se cierra el modal')
                document.getElementById('update-form').submit()
            }
        });

        $('#control-panel').modal({
            onOpenStart: function (modal, trigger) {
                console.log('Se abre el modal panel de control')

                $.ajax({
                    url: "/Browse/ControlPanel",
                    type: 'GET',
                    success: function (data) {
                        $("#control-panel").html(data);
                    }
                });
            },

            onCloseStart: function (modal, trigger) {
                console.log('Se cierra el modal')
                document.getElementById('control-panel-form').submit()
            }
        });
    })
</script>

<script>
    $(document).ready(function () {
        $('#create').modal({
            onOpenStart: function (modal, trigger) {
                console.log('Se abre el modal create')
                $.ajax({
                    type: 'GET',
                    url: "/Browse/CreateTask",
                    success: function (data) {
                        $("#create").html(data);
                    }
                });
            },
            onOpenEnd: function (modal, trigger) {
                console.log('Termino de abrirse el modal create')
            }
        })
    })

    $(document).ready(function () {
        $('#add-task').on('click', function () {
            M.Modal.getInstance($("#create")).open()
        });
    });

    $(document).ready(function () {
        $('#pcontrol').on('click', function () {
            M.Modal.getInstance($("#control-panel")).open()
        });
    });

</script>

<nav>
    <div class="nav-wrapper">
        <a href="@Url.Action("Index", "Home")" class="brand-logo">Taskker</a>
    </div>
</nav>

@Html.Partial("_Menu")

<div class="row">
    <h2>@Model.Nombre</h2>
</div>

<div class="row">

    <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect waves-light btn theme-colour">
        <i class="small material-icons left">menu</i>Menu
    </a>

    @if (((List<string>)ViewData["Roles"]).Contains("Project Manager"))
    {

        <a class="waves-effect waves-light btn modal-trigger theme-colour" data-target="create" id="add-task">
            <i class="small material-icons left">add</i>Crear tarea
        </a>

        <a class="waves-effect waves-light btn modal-trigger theme-colour" data-target="control-panel" id="pcontrol">
            <i class="small material-icons left">business_center</i>Panel de control
        </a>
    }

    <a class="waves-effect waves-light btn theme-colour" id="download-report" href="@Url.Action("DownloadReport", "Report")">
        <i class="small material-icons left">insert_chart</i>Descargar reporte de horas
    </a>

</div>

<!-- Modal Trigger -->
<div id="details" class="modal">
</div>

<div id="create" class="modal">
</div>

<div id="control-panel" class="modal">
</div>

<div class="row">
    <table class="highlight">
        <thead>
            <tr>
                <th>Titulo</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var tarea in Model.Tareas)
                {
                    <tr data-target="details" class="modal-trigger">
                        <td>@tarea.Titulo</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
