
@{
    ViewBag.Title = "Create";
}

<style>
    .theme-colour {
        background-color: #d96d6d !important;
    }

    .theme-colour2 {
        background-color: #bf5e62 !important;
    }

    .input-color {
        color: white !important;
    }
</style>

<nav>
    <div class="nav-wrapper">
        <a href="@Url.Action("Index", "Home")" class="brand-logo">Taskker</a>
    </div>
</nav>

@Html.Partial("_Menu")

<div class="row"></div>

<div class="row">
    <a class="waves-effect waves-light btn modal-trigger theme-colour" href="@Url.Action("Index", "Home")">
        <i class="small material-icons left">arrow_back</i>Volver
    </a>

    <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect waves-light btn theme-colour">
        <i class="small material-icons left">menu</i>Menu
    </a>
</div>

<div class="container">
    <!-- Fila -->
    <div class="row">
        <!-- Columna -->
        <div class="col s6 offset-s3">
            <div class="card darken-1 theme-colour2">
                @Html.ValidationSummary(false, "", new { @style = "color:red;font-weight:bold" })
                @using (Html.BeginForm("Create", "Groups", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-content white-text">
                        <span class="card-title">Crear nuevo grupo</span>
                        <!--Fila para nombre-->
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Nombre" id="grp-nombre" type="text" class="validate input-color" name="nombre">
                                <label for="nombre">Nombre del grupo</label>
                            </div>
                        </div>
                    </div>
                    <!--Action-->
                    <div class="card-action">
                        <button class="btn waves-effect waves-light theme-colour" type="submit" name="action">
                            Crear
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>