@using Taskker.Models
@using Taskker.Models.DAL

@model JoinGroupModel

@{
    ViewBag.Title = "Join";
    List<Grupo> grupos = (List<Grupo>)ViewData["Grupos"];
}

<style>
    .theme-colour {
        background-color: #d96d6d !important;
    }

    .theme-colour2 {
        background-color: #bf5e62 !important;
    }

    .input-color {
        color: white !important;
    }

    .control-color {
        color: white !important;
    }

    .collection .collection-item:hover {
        background-color: white !important;
        color: #d96d6d !important;
    }
</style>

<script>

    $(document).ready(function () {
        var selected = ""
        var elems = document.querySelectorAll('.modal');
        M.Modal.init(
            elems,
            {
                onOpenStart: function (modal, trigger) {
                    $.ajax({
                        type: 'GET',
                        url: "/Groups/GroupDetails",
                        data: { gname: selected },
                        success: function (data) {
                            $("#group-details").html(data);
                        }
                    });
                },
                onOpenEnd: function (modal, trigger) {
                }
            }
        );

        $.ajax({
            url: "/Groups/GetGroups",
            type: 'GET',
            success: function (data) {
                var data_dict = {}

                JSON.parse(data).forEach(function (nombre) {
                    data_dict[nombre] = null
                })

                var elems = document.querySelectorAll('.autocomplete');
                M.Autocomplete.init(
                    elems,
                    {
                        data: data_dict,
                        onAutocomplete: function (elem) {
                            selected = elem
                            var modal = M.Modal.getInstance($("#group-details"));
                            modal.open()
                        }
                    }
                );
            }
        });

        $('.collection-item').on('click', function (e, elem) {
            var modal = M.Modal.getInstance($("#group-details"));
            selected = e.target.innerText
            console.log(selected)
            modal.open()
        })


    })
</script>


<nav>
    <div class="nav-wrapper">
        <a href="@Url.Action("Index", "Home")" class="brand-logo">Taskker</a>
    </div>
</nav>

@Html.Partial("_Menu")

<div class="row"></div>

<div class="row">
    <a class="waves-effect waves-light btn modal-trigger theme-colour" href="@Url.Action("Index", "Home")">
        <i class="small material-icons left">arrow_back</i>Volver
    </a>

    <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect waves-light btn theme-colour">
        <i class="small material-icons left">menu</i>Menu
    </a>
</div>

<div class="container">
    <!-- Fila -->
    <div class="row">
        <div class="row">
            @Html.ValidationSummary(false, "", new { @style = "color:red;font-weight:bold" })
        </div>
        <!-- Columna -->
        <div class="col s6 offset-s3">
            <div class="card darken-1 theme-colour2">
                <div class="card-content white-text">
                    <span class="card-title">Unirse a un grupo</span>
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.EditorFor(
                               model => model.Nombre,
                               new
                                    {
                                        htmlAttributes = new
                                        {
                                       @class = "autocomplete input-color",
                                       @id = "autocomplete-input"
                                    }
                               })
                            <label for="nombre">Nombre del grupo</label>
                        </div>
                    </div>
                    <div class="row">
                        <i class="small material-icons left control-color">group</i>
                        <h5 class="control-color">Grupos disponibles</h5>
                    </div>
                    <div class="row">
                        <div class="collection theme-colour">
                            @foreach (var grupo in grupos)
                            {
                                <a class="collection-item control-color theme-colour"
                                   data="@grupo.Nombre" style="font-weight: bold">
                                    @grupo.Nombre
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <!--Action-->
                <div class="card-action">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="group-details" class="modal">
</div>
